<h1>Users#show</h1>

<hr>
<p><span>ニックネーム: </span><%= @user.nickname %></p>

<% @books.each do |book| %>
  <hr>
  <p><span>投稿内容: </span><%=link_to book.title, book_path(book.id) %></p>
<% end %>

<% @favorite_books.each do |book| %>
  <hr>
  <div class="image_area" >
  <%= link_to image_tag("#{book.image}"), book_path(book.id) %>
  <% end %>