<h1>BOOKER</h1>
<h2>貴方を射止めた文章<h2>
<div class="post-killer">  
 <%= link_to "Killer登録", new_book_path, class: "header__left--btn" %>
</div>
<p>貴方が喰らった文書を登録</p>
<div class="point2">Killer紹介</div>
<p>皆のkillerを閲覧</p>
<div class="point3">Killer検索</div>
<p>お気に入りを探そう</p>
<div class="point4">Killerコレクション</div>
<p>貴方だけのkillerを集めよう</p>
