<h1>BOOKER</h1>
<h2>貴方を射止めた文章<h2>
 <%= link_to "Killer登録", new_book_path, class: "post" %>
<p>貴方が喰らった文書を登録</p>
<%= link_to "Killer検索","#", class: "search" %>
<p>お気に入りを探そう</p>
<%= link_to "Killerコレクション","#", class: "collection" %>
<p>貴方だけのkillerを集めよう</p>
<%= link_to "Killer紹介", books_path, class: "show-book" %>
<p>皆のkillerを閲覧</p>
