	<h1>皆のkiller</h1>
<% @book.each do |book| %>
<div class="image_area" >
  <%= link_to image_tag("#{book.image}"), book_path(book.id) %>
    <div class="title"></div>
    TITLE: <%= book.title %>
    <div class="author"></div>
    著者: <%= book.author %>
    <div class="nickname"></div>
    <%= book.user.nickname %> 
</div>   
<% end %>

